.c-icon-button {
    background-clip: padding-box;
    background-color: #CCC;
    border: 1px solid #777;
    border-radius: 3px;
    height: 50px;
    width: 50px;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

